.hero-wrap .text {
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  /* text-align: center; */
}

/* 밑에 다시 */

#main {
  width: 80%;
  float: right;
}

.img {
  background-image: url("../Image/profile.jpeg");
  background-size: 220px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

/* #backImg {
  background-image: url("../Image/backImg.jpeg");
  height: 949px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
} */

h1 {
  color: black;
}

.overlay {
  z-index: 1;
  font-size: 50px;
}

#background {
  background-image: url("../Image/bg_1.jpg");
  height: 796px;
  /* background-position: 50% 50%; */
  /* opacity: 0.6; */
  z-index: 0;
}

.desc {
  text-align: center;
}
