#IntroduceCard {
}

#IntroduceCard:hover {
  margin-left: 30px;
}

#IntroduceText {
  font-size: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.7;
  background: #fff;
  z-index: 0;
}
