#ProjectsCard {
  width: 150px;
  position: relative;
  border-radius: 5px;
  border: 2px solid #ffffff;
  font-size: 20px;
  text-align: center;
  color: white;
}

#ProjectsCard:hover {
  margin-left: 30px;
}

#ProjectsText {
  font-size: 20px;
}
