#SkillsCard {
  background: #ff4b2b;
  width: 250px;
  height: 400px;
  position: relative;
  border-radius: 5px;
  color: white;
  box-shadow: 5px 5px 5px 5px darkgray;
  margin-top: -330px;
  border-right: 25px solid #e2391a;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

#SkillsCard:hover {
  transform: rotate(10deg);
  margin-left: 30px;
}

#skillsText {
  font-size: 35px;
  margin: -15px 0px 0px 10px;
}
