#SkillsCard {
  background: #b50000;

  width: 250px;
  height: 400px;
  position: relative;
  float: left;
  margin-left: -100px;
  border-radius: 25px;
}

#skillsText {
  font-size: 30px;
  margin: 10px 0px 0px 10px;
}
